.btn-sm {
    padding: 2px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.button {
    margin: 1em auto;
    padding: 1em auto;
    position: relative;
}

.pencil-icon {
    padding: 0px 0px;
    font-size: 15px;
    border-radius: 10px;
}

li { 
    background: #fff; 
    border-left: 8px solid #479cc9; 
    /* border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888; */
    padding: 1rem; 
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem; 
    color: #666; 
    font-family: "Raleway";
    text-align: left;
}

button:hover{
    background: orange;
}